* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.bigLayout {
  background-color: pink;
  height: 100vh;
  padding: 40px;
  display: grid;
  grid-template-rows: auto 400px;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.formPerrito {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.containerPerritos {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.imgPerrito {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  background-color: palevioletred;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
