@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 (p) / 18(h3) / 20 / 24 (h2) / 30 / 36 / 44 (h1) /52 / 62 / 74 / 86 / 98
*/

/***** ATOMO FUENTE TIPOGRAFICA ********/

/*
Fuente: Roboto Mono

font weight:
default: 400
h1: 700
h2: 600
h3 y  button: 500

font size:
default: 16
h1: 44
h2: 24
h3: 18
*/

/** ATOMO COLORES **/

/*
  text: #575757;
  header: #edc84b;
  header-hover: #e9bb24;
  card-pizza-bg: #f0f0f0;
  card-pizza-sold-out: #888;

*/

:root {
  --color-text: #575757;
  --color-header: #edc84b;
  --color-pizza-bg: #f0f0f0;
  --color-sold-out: #888;
  --color-container-bg: red;
  --color-button-cta: #d8c47f;
  --color-button-cta-hover: #6b5302;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: var(--color-text);
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 40px;
  padding: 10px 10px;
  min-height: 100vh;
  background-color: blue;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
}

.menu h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.pizzas {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 90%;
  max-width: 1600px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.pizza {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: var(--color-pizza-bg);
  align-items: center;
  min-height: 200px;

  img {
    width: 25%;
    height: 100%;
    flex-shrink: 0;
    object-fit: contain; /*  contain  se ve entera versus cover se recorta*/
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-style: italic;
    }
  }

  &.sold-out {
    color: var(--color-sold-out);

    img {
      filter: grayscale();
      opacity: 0.8;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* quizás o podrías dejar por legibilidad */
  font-size: 16px;
  .order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  font-weight: 500;
  background-color: var(--color-button-cta);
  padding: 14px 20px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-button-cta-hover);
  }
}
