.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #e20606;
  transition: all 0.3s ease;
  width: 1rem;
  height: 1rem;

  &:hover {
    transform: scale(1.2);
  }

  &.github:hover {
    color: black;
  }

  &.twitter:hover {
    color: #1da1f2;
  }

  &.linkedin:hover {
    color: #0077b5;
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
