* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

:root {
  --primary-background: #007bff;
  --primary-hover: #0056b3;
  --primary-active: #042f5d;

  --secondary-background: #6c757d;
  --secondary-hover: #5a6268;

  --success-background: #28a745;
  --success-hover: #218838;

  --danger-background: #ef4444;
  --danger-hover: #dc2626;
}
