@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
}

.cards {
  width: 80vw;
  margin: 16px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 400px));
  gap: 16px;
}

.card {
  border: 2px solid #222;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 100%;
  height: 40%;
  display: block;
  object-fit: cover;
}

.data {
  padding: 4px 16px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .intro__titulo {
    align-self: center;
  }
  .intro__contenido {
    margin-bottom: 40px;
  }
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  .skill {
    padding: 2px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
  }
}
