@import "tailwindcss";

:root {
  --variable-oswald: "Oswald", sans-serif;
  --mi-rojo: #ff944d;
}

@theme {
  --font-oswald: "Oswald";
  --color-roro: #ff944d;
}

.text-mi-rojo {
  color: var(--mi-rojo);
}

.menu-btn {
  @apply text-slate-200 flex flex-col items-center cursor-pointer;
}

.card {
  @apply bg-white flex flex-col hover:bg-slate-600 hover:text-slate-200 duration-300 cursor-pointer gap-2 px-4 py-2 w-72 h-80 mx-auto;
}
