.header {
  height: 150px;
  background: #4f46e5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}

.title {
  margin-bottom: 10px;
}

.sentinel {
  width: 100%;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}
