.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: #999;
}

/* Estilos de espaciado 
  - Spaging system (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  */
.margin-bottom {
  margin-bottom: 1rem;
}

.padding-small {
  padding: 0.5rem;
}

/* Clases de visibilidad */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/*- Font sizes (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  */
