.admin-table-container {
  width: 85%;
  margin: 50px auto;
  font-family: sans-serif;
  position: relative;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.admin-table th {
  background-color: #f4f4f4;
  text-transform: capitalize;
}

.admin-table tr {
  display: grid;
  grid-template-columns: 10% 25% 25% 15% 10% 15%;
  align-items: center;
}

.admin-table td button {
  cursor: pointer;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
}

.delete-btn:hover {
  background-color: #ffcccc;
}

.edit-btn:hover {
  background-color: #ccf0ff;
}

/* Responsive */
@media (max-width: 700px) {
  .admin-table thead {
    display: none;
  }

  .admin-table tr {
    grid-template-columns: 1fr;
    text-align: left;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
  }

  .admin-table td {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    bord
