.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;

  a {
    text-decoration: none;
    color: var(--primary-background);
  }

  .active {
    color: red;
  }
}
