.Input-Container h2 {
  margin-bottom: 10px; 
}

.Input-Container input {
  margin-top: 5px;
  margin-bottom: 15px; 
}

.Input-Container form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.total p {
  margin-bottom: 10px; 
  font-size: 2rem;
  font-weight: bold;
}

.total button {
  margin-top: 10px;
  font-size: 1.4rem;
}