body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;

  background-color: blue;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  gap: 1rem;
  padding: 1rem;
}

.item {
  font-size: 1rem;
  height: 12rem;
  background-color: #007bff;
  color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
