.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
  background-color: var(--secondary-color);
  gap: 20px;
  font-size: 1.5rem;
}

.checkout-column-left {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 60%;

}

.titulo-resumen-compra {
  box-shadow: -5px 5px 0px 2px var(--shadow-color);
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.checkout-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: -5px 5px 0px 2px var(--shadow-color);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  width: 100%; 
}

.checkout-total-pay {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding: 30px;
  background-color: var(--background-color);
  box-shadow: -5px 5px 0px 2px var(--shadow-color);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  align-items: center;
  text-align: center;
}

.message-container {
  box-shadow: -5px 5px 0px 2px var(--shadow-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 50%; 
  max-width: 500px; 
  height: auto; 
  text-align: center;
  padding: 30px 20px; 
  margin: 100px auto;
}

.message-container h1 {
  font-size: 1.5rem;
  color: var(--text-color); 
}

@media (max-width: 50em) {
  .checkout-total-pay {
    width: 500px;
    min-width: 300px;
  }
}

@media (max-width: 41.25em) {
  .checkout-container {
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }
  .checkout-column-left {
    width: 100%;
  }
  .checkout-total-pay {
    width: 100%;
    min-width: 250px;
  }
}