.main {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
  }
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  overflow-y: auto;

  .catalogItem {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    height: 10rem;
  }
}
