.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
  transition: all 0.3s ease;
}

.logo {
  height: 2.2rem;
}

.mainNavList {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.mainNavList a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.mainNavList a:hover {
  color: #cf711f;
}

.navCta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.navCta:hover {
  background-color: #cf711f;
}
