.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

.mainNavList {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.mainNavList a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.mainNavList a:hover {
  color: #cf711f;
}

.navCta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.navCta:hover {
  background-color: #cf711f;
}

/* MOBILE BUTTON */
.btnMobileNav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.iconMobileNav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* RESPONSIVE NAVIGATION */
@media (max-width: 60rem) .btnMobileNav {
  display: block;
  z-index: 1000;
}

.mainNav {
  background-color: rgba(255, 255, 255, 0.97);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.5s ease-in;
  transform: translateX(100%);
}

.navOpen .mainNav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.mainNavList {
  flex-direction: column;
  gap: 4.8rem;
}

.mainNavList a {
  font-size: 3rem;
}
