.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 30rem;
  height: 20rem;
  margin: 0 auto;
}

button {
  display: inline-flex;
  padding: 0.5rem 1rem;
}
